/* basic styling with mobile view (1023px and below) done first */

html, body{
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #F7E0DA;
    color: #5E4039;
    font-family: 'Kanit', sans-serif;

}


#index-body{
    background-image: url("PortLandingFloralMobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* removing underline from all anchor tags */
a{
    text-decoration: none;
    color: #5E4039;
}

a:hover{
  cursor: pointer;
}

/* removing bullet points from all ul (& some random padding I didn't want lol) */
ul{
    list-style: none;
    padding: 0;
}

/* hamburger button */
label{
    background-image: url("menu-outline.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: top right;
    display: block;
    cursor: pointer;
    height: 120px;
    margin-right: 10px;
    }

    input:checked ~ label{
        background-image: url("close-outline.svg");
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: top right;
        display: block;
        cursor: pointer;
        height: 120px;
        margin-right: 10px;
    }

/* makes checkbox disappear */
input#menu{
    display: none;
}

/* hamburger nav stuff */
.nav-and-socials{
        display: none;
        border-top: #5E4039 5px solid;
        border-bottom:#5E4039 5px solid;
        margin: 65px 0 50px 0;
    }

    .nav-and-socials a:hover{
      opacity: 60%;
    }

    .nav-and-socials ul{
    margin-top: 0px;
    margin-bottom: 30px;
    }

    .nav-and-socials li{
        border-bottom: #5E4039 2.5px solid;
        padding: 20px 0 20px 0;
    }

    .nav-and-socials ion-icon{
        padding: 0px 15px 0px 15px;
        font-size: 50pt;
    }

    .socials{
      padding-bottom: 20px;
    }

    input:checked ~ .nav-and-socials{
        display: block;
        text-align: center;
        font-size: 2.4em;
        font-weight: 800;
      }

      input:checked ~ .headername{
        display: none;
      }

      #index-main{
        display: none;
      }

      #landing-left{
        height: 100%;
      }

      header{
        width: 100%;
        padding-bottom: 30px;
      }

      #index-name{
        text-align: center;
        font-size: 1.8em;
        margin: 50% 0 50% 0;
        font-weight: 800;
        width: 100%;
      }

      #index-name h1{
        padding: 0px;
        margin: 0px;
      }

      #index-name h3{
        padding: 0px;
        margin: 0px;
      }

      .headername h1, h3{
        margin: 0;
      }

      .headername{
        width: 50%;
        float: left;
        font-size: 1em;
        padding-left: 10px;
      }

      .works p{
        margin-top: 20px;
        margin: 20px 0px 20px 0px;
        padding: 0px 20px 0px 20px;
        font-size: 2em;
      }

      #one-work{
        padding-bottom: 40px;
      }

      #one-work p{
        margin-top: 0px;
        font-size: 1.5em;
      }

      .works img{
        clear: left;
        width: 90%;
      }

      .about h1{
        text-align: center;
      }

      .about p{
        font-weight: 500;
        padding: 0px 10px 0px 10px;
      }

      .about-socials{
        display: grid;
        grid-template-columns: 1fr;
      }

      .about{
        font-size: 2.4em;
      }

      footer{
        /* height: 25%; */
        width: 100%;
        background-color: #DE9785;
        text-align: center;
        font-weight: 700;
        font-size: 2em;
      }

      .footer-name{
        padding: 1% 0 0.5% 0;
        margin: 0 0 0 0;
      }

      .footer-name p{
        margin: 0;
        padding: 0;
      }

      .thissite{
        font-size: 12pt;
        padding-bottom: 4px;
        color: #F7E0DA;
      }





/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */





/* styling for landscape tablet and above (1024px and up) */
@media screen and (min-width:1024px){

    #index-body{
        background-image: none;
        overflow: hidden;
    }

    header{
      border: none;
      height: 20%;
      width: 100%;
    }

    .headername{
        width: 30%;
        height: 100%;
        float: left;
        font-size: 1.4em;
        padding-left: 30px;
    }

    #index-name{
        width: 100%;
        height: 30%;
        clear: left;
        text-align: center;
        margin: 0;
        font-size: 2em;
        padding: 40px 0 0 0;
    }

/* makes checkbox disappear */
input#menu{
    display: none;
}

label{
    display: none;
}

.nav-and-socials li{
  border: none;
}

.nav-and-socials{
    display: block;
    width: 50%;
    height: 100%;
    float: right;
    border: none;
    margin: 0;
 }

 .nav{
    display: block;
    padding: 0;
    float: left;
    font-size: 1.8em;
 }

 .nav ul{
    clear: left;
    display: inline-block;
 }

 .nav li{
    float: left;
    padding: 20px 20px 0 20px;
 }

 #index-nav-and-socials{
    width: 100%;
 }

 #index-nav{
    clear: left;
    width: 100%;
    height: 30%;
    text-align: center;
    display: block;
    font-size: 1.8em;
    padding: 15px 0 0 0;
    margin: none;
 }

 #index-nav ul{
  text-align: center;
 }

 #index-nav li{
    clear: left;
    display: block;
    width: 100%;
    border: none;
    padding-left: 0;
 }

 .socials{
    height: 100%;
    float: left;
    padding: 20px 0 0 20px;
 }

 .socials ion-icon{
  font-size: 3em;
 }

 .socials li{
  display: inline-block;
 }

 #index-socials{
    width: 100%;
    height: 30%;
    clear: left;
    text-align: center;
    border: none;
    padding: 0;
 }

/* makes image on landing page resize better & stay stretched */
#index-main{
    float: left;
    display: block;
    height: 100%;
    width: 50%;
}

#index-main img{
    width: 100%;
}

/* styling for the left side (non-picture side) of the landing page */
#landing-left{
    height: 100%;
    width: 50%;
    float: left;
}

/* styling for picture on landing page */
.landing-right{
    height: 100%;
    width: 50%;
    float: left;
}

.landing-right img{
    clear: left;
    width: 100%;
    height: 100%;
}

#others-main{
    /* height: 50%; */
    clear: both;
}

.works{
  margin: 0 auto 0 auto;
  padding-top: 30px;
}

  .works a:hover{
    clear: right;
    opacity: 50%;
  }


  #one-work{
    width: 90%;
    margin: auto;
    border: none;
  }

  #one-work p{
    width: 42%;
    float: left;
    margin: auto;
    padding-top: 6%;
  }

  #one-work div{
    width: 54%;
    float: left;
    padding-bottom: 5%;
  }

  .about{
    clear: right;
    font-size: 20pt;
  }

  #aboutp{
    font-size: 16pt;
    width: 75%;
  }

  .about h1{
    text-align: left;
    padding-left: 30px;
    margin-top: 0;
    margin: 0px 0px 0px 0px;
    font-size: 30pt;
  }

  .about p{
    padding: 0 30px 0 30px;
    margin: 10px 0px 40px 0px;

  }

  .about-socials{
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    width: 40%;
  }

  .about-socials a:hover{
    opacity: 50%;
  }

  #social-icon{
    text-align: right;
  }

  #social-tag{
    text-align: left;
  }

  #social-tag p{
    padding-bottom: 10px;
  }

  .about-socials ion-icon{
    font-size: 50pt;
  }

footer{
  clear: both;
}

}